<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">
          Login
        </a>
      </li>
    </ul>
    <div class="right">Hello {{this.user.name}}</div>
  </div>  
</nav>

