<nav *ngIf="userLoggedIn" class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          Products
        </a>
      </li>
      <li class="nav-item">
        <button type="button" (click)="logOut()" class="nav-link btn">
          LogOut
        </button>
      </li>
    </ul>
    <div *ngIf="user" class="right">
      Hello {{user.first_name}}
    </div>
  </div>  
</nav>

