.viewport {
    height: 300px;
    width: 100%;
    border: 1px solid black;
  }
  
  .example-item-detail {
    height: 18px;
  }
  
  .example-alternate {
    background: rgba(127, 127, 127, 0.3);
}